<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>I am here</h2>
      <!-- <hr>
      <app-servers></app-servers> -->
      <!-- <div app-servers></div>this normal html tag now has app-servers attribute which angular uses as selector to render -->
      <!-- <div class="app-servers"></div> -->
    <hr>
    <!-- <app-warning-alert></app-warning-alert>
    <app-success-alert></app-success-alert>
    <hr>
    <app-assignments></app-assignments> -->

    <app-directive></app-directive>

    </div>
  </div>

</div>
